/* Custom properties */
:root {
  --light-color: #fff;
  --light-color-alt: #afb6cd;
  --primary-background-color: #131417;
  --secondary-background-color: #252830;
  --hover-light-color: var(--light-color);
  --hover-dark-color: var(--primary-background-color);
  --gradient-color: linear-gradient(
    115deg,
    #4fcf70,
    #fad648,
    #a767e5,
    #12bcfe,
    #44ce7b
  );
  --transparent-light-color: rgba(255, 255, 255, 0.05);
  --transparent-dark-color: rgba(0, 0, 0, 0.75);
  --font-family: "Poppins", sans-serif;
  --font-size-xsm: 1.2rem;
  --font-size-sm: 1.6rem;
  --font-size-md: 2.4rem;
  --font-size-lg: 3rem;
  --font-size-xl: 4rem;
  --gap: 2rem;
  --margin-sm: 2rem;
  --margin-md: 3rem;
  --item-min-height-sm: 20rem;
  --item-min-height-md: 30rem;
}

/* Base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  background: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  object-fit: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
img:active {
  transform: scale(0.9);
}

/* input,
button {
  font: inherit;
  color: inherit;
  border: none;
  background-color: transparent;
} */

i {
  font-size: var(--font-size-md);
}

.main {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: grid;
}
.game__Two {
  width: 500px;
  height: 500px;
  outline: 4px solid #000;
  align-self: center;
  justify-self: center;
  display: grid;
}
h3 {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 1rem;
  margin-left: 2rem;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: 400px;
  outline: 4px solid blue;
  justify-self: center;
}
